.JSXElement {
    &.JSXIdentifier{
        color: var(--dark-plus-type);
    }

    &.JSXBracket {
        color: var(--dark-plus-punctuation);
    }

    &.JSXText {
        color: var(--dark-plus-fg);
    }

    &.JSXGlyph {
        color: var(--dark-plus-escape);
    }
}

.JSXOpeningElement {
    &.JSXBracket {
        color: var(--dark-plus-punctuation);
    }

    &.JSXIdentifier {
        color: var(--dark-plus-punctuation);
    }
}

.JSXClosingElement {
    &.JSXBracket {
        color: var(--dark-plus-punctuation);
    }

    &.JSXIdentifier {
        color: var(--dark-plus-punctuation);
    }
}

.JSXOpeningFragment.JSXBracket {
    color: var(--dark-plus-punctuation);
}

.JSXClosingFragment.JSXBracket {
    color: var(--dark-plus-punctuation);
}

.JSXAttribute.JSXIdentifier {
    color: var(--dark-plus-variable);
}

.JSXExpressionContainer.JSXBracket {
    color: var(--dark-plus-type);
}

.JSXSpreadChild.JSXBracket {
    color: var(--dark-plus-control);
}

.JSXSpreadAttribute.JSXBracket {
    /* color: var(--dark-plus-type); */
    color: var(--dark-plus-keyword);
}
