html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #343434;
    /* color: white;
    display: flex;
    justify-content: center;
    align-items: center; */
}

/*
    This path is displayed on hover
    It's insane that this works.
*/
#svg_css_ex1:hover path {
    d: path(
        "M10,30 A20,20 0,0,1 50,30 A20,20 0,0,1 90,30 Q90,60 50,90 Q10,60 10,30 z M5,5 L90,90"
    );
}
