.JSXElement.JSXIdentifier{
    color: var(--dark-plus-type);
}

.JSXElement.JSXBracket {
    color: var(--dark-plus-punctuation);
}

.JSXElement.JSXText {
    color: var(--dark-plus-fg);
}

.JSXElement.JSXGlyph {
    color: var(--dark-plus-escape);
}

.JSXOpeningFragment.JSXBracket {
    color: var(--dark-plus-punctuation);
}

.JSXClosingFragment.JSXBracket {
    color: var(--dark-plus-punctuation);
}

.JSXOpeningElement.JSXBracket {
    color: var(--dark-plus-punctuation);
}

.JSXOpeningElement.JSXIdentifier {
    color: var(--dark-plus-punctuation);
}

.JSXClosingElement.JSXBracket {
    color: var(--dark-plus-punctuation);
}

.JSXClosingElement.JSXIdentifier {
    color: var(--dark-plus-punctuation);
}

.JSXAttribute.JSXIdentifier {
    color: var(--dark-plus-variable);
}

.JSXExpressionContainer.JSXBracket {
    color: var(--dark-plus-type);
}

.JSXSpreadChild.JSXBracket {
    color: var(--dark-plus-control);
}

.JSXSpreadAttribute.JSXBracket {
    /* color: var(--dark-plus-type); */
    color: var(--dark-plus-keyword);
}

